body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#__nuxt,
#__layout {
  width: 100%;
  height: max-content;
  min-height: 100vh;

  /* Avoid Chrome to see Safari hack */

  /* autoprefixer: off */
  @supports (-webkit-touch-callout: none) {
    //noinspection CssInvalidPropertyValue
    min-height: -webkit-fill-available;
  }
}

#nuxt-loading {
  background-color: $darkViolet !important;
}

head {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.mobileOnly {
  @media screen and (min-width: $mobile) {
    display: none !important;
  }
}

.desktopOnly {
  @media screen and (max-width: $mobile+1) {
    display: none !important;
  }
}
