/* Colors */
$white: #fff;
$light: #e1e4e8;
$gray: #9eaebb;
$black: #242424;
$darkViolet: #171a49;
$violet: #4e529a;
$green: #1d9b4a;
$mediumViolet: #2f3264;
$lightViolet: #8c8dfc;
$red: #f25f5c;


/* Fonts */
$firaSans: "Fira Sans", "sans-serif";
$firaCode: "Fira Code", "sans-serif";

/* Transitions */
$transition: 0.2s ease;
$transition2: 0.3s ease;


/* Blocks */
$headerHeight: 60px;
$footerHeight: 85px;


/* Responsive */
$mobile: 768px;
$biggestWidth: 1920px;
