.withdrawsPage {
  display: flex;
  .centerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 30px;
    overflow: hidden;
    text-align: center;
    .withdrawBlock {
      width: 90%;
      max-width: 605px;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      padding: 20px;
      min-height: 0;
      border-radius: 8px;
      box-shadow: 4px 4px 8px 0 rgba(11, 52, 102, 0.02);
      transition: background-color 0.2s ease;
      .title {
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        line-height: 140%;
        // margin: 10px 0 0 -40px;
      }
      .withdrawTxt {
        font-size: 14px;
      }
      .withdrawTxItem {
        display: grid;
        grid-template-columns: 50px auto;
        border-radius: 8px;
        box-shadow: 4px 4px 8px 0 rgba(11, 52, 102, 0.02);
        margin-bottom: 12px;
        padding: 20px;
        &:not(:last-child) {
          margin-bottom: 0;
        }
        .tokenSymbol {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .createdAt {
          display: flex;
          justify-content: start !important;
          color: #898989;
          font-size: 12px;
          cursor: default;
          margin-top: -8px;
        }
        .tokenPrice {
          display: flex;
          justify-content: end !important;
          color: #898989;
          font-size: 12px;
          line-height: 14px;
        }
        .details {
          font-size: 12px;
        }
        .withdraw-btn {
          border-radius: 15px;
          font-size: 11px;
        }
        .status {
          width: 25px;
          // height: 25px;
          font-size: 15px;
          line-height: 25px;
          text-align: center;

          .verified {
            color: $green;
          }

          .committed {
            color: #aa935d;
          }

          .inProgress {
            color: $gray;
          }

          svg {
            position: relative;
            display: block;
            top: 1.5px;
            left: -100px;
          }

          .loaderContainer {
            position: relative;
            left: 1px;
            margin-top: 1px;
            margin-left: 2px;
          }
        }
      }
    }
  }
}

body.inkline {
  &.-light {
    .withdrawBlock {
      background-color: $lightGrey !important;
    }
    .withdrawTxItem {
      background-color: $white;
    }
  }
  &.-dark {
    .withdrawBlock {
      background-color: $midHyperlinkBlue;
    }
    .withdrawTxItem {
      background-color: $hyperlinkBlue;
    }
  }
}
