.amountInput {
  transition: box-shadow $transition1;
  will-change: box-shadow;
  margin-top: 12px;

  &.allowance {
    .minAmount {
      min-height: 24px;
    }
  }

  input {
    border-radius: $borderRadiusSm 0 0 $borderRadiusSm !important;
  }

  button {
    border-radius: 0 $borderRadiusSm $borderRadiusSm 0 !important;
  }

  &.error .form-input-group input {
    box-shadow: 0 0 0 1px $red !important;
  }

  .error {
    width: 100%;
    min-height: 18px;
    padding-top: 5px;
    color: $red;
    font-size: 12px;
    line-height: $fontSizeRegular;
  }

  .tokenSelector {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  .tokenDetail {
    display: grid;
    grid-template-rows: 50% 50%;
    color: #b8b8b8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
